
<button id="simulate-week">--> Simulate Week <--</button>
<div id="worker-bee-id" style="display: none"><%= worker_bee.id%></div>        
<div id="worker-bee" style="display: none"><%= worker_bee%></div>        
<div id="last-advisement" style="display: none"><%= worker_bee.last_advisement%></div>        
<div id="worker-bee-comb-id" style="display: none"><%= worker_bee.comb_id%></div>
<div id="advisement-logic" style="display: none"><%= advisement%></div>



        
<script type='text/javascript'>
    document.addEventListener('DOMContentLoaded', function () {
        const simulateWeekButton = document.getElementById('simulate-week')
        const advisement_logic = JSON.parse(document.getElementById('advisement-logic').innerHTML)
        const bee_id = document.getElementById('worker-bee-id').innerHTML
        const comb_id = document.getElementById('worker-bee-comb-id').innerHTML
        const advisement_div = document.getElementsByClassName("new-advisement")[0]
        const lastAdvisement = JSON.parse(document.getElementById("last-advisement").innerHTML)
        const workerBee = document.getElementById("worker-bee").innerHTML
        // if (lastAdvisement[0] !== workerBee.nectar && lastAdvisement[1] === 'Yes') {
        //     $.ajax({
        //             url: `/worker_bees/${bee_id}`,
        //             method: 'PATCH',
        //             data: {
        //                     worker_bee: {
        //                     nectar: lastAdvisement[0]
        //                     }
        //                 }
        //         })
        // }

        simulateWeekButton.addEventListener("click", () => {
                
            if ((advisement_logic[6]+1) % 3 === 0) {
                advisement_div.style.display = "block"
            } else {
                advisement_div.style.display = null
                $.ajax({
                    url: '/pollen_collections',
                    method: "POST",
                    data: {
                        pollen_collection: {
                            bee_id: bee_id,
                            comb_id: comb_id,
                            nectar_consumption: advisement_logic[2],
                            pollen_glob_collected: advisement_logic[3],
                            advisement: advisement_logic[4],
                            advisement_accepted: advisement_logic[5]
                        }
                    }
                }).then(window.location.href = `http://localhost:3000/worker_bees/${bee_id}`)
            }
        })
    });
</script>
