 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'worker_bee_show.css' %>

    <title>Document</title>

</head>
<body>
    <div class="background-color">
        <div class="show-bee-buttons">
            <button 
                class= "index-bee-button"
                onclick="window.location.href = 'http://localhost:3000/worker_bees'"
                >
                <%= image_tag('bee.png')%> Go Back to all Bees <%= image_tag('bee.png')%>
            </button>
        </div>
        <div class="general-bee">
            <div>
                
            </div>
            <div class= "bee-info">
                <p>Showing a bee named - <%= @worker_bee.bee_name%></p>
                <p>Bee Id - <%= @worker_bee.id%></p>
                <p>Bee Nectar SweetSpot - <%= @worker_bee.nectar%></p>
                <p>Total amount of pollen collected - <%= @worker_bee.individual_bee_total_collection%></p>
                <%if (@worker_bee.is_supervisor?[1].length == 1)%>
                    <p>Supervisor of comb - <%= @worker_bee.is_supervisor?[1][0] %></p>
                <%elsif (@worker_bee.is_supervisor?[1].length == 0)%>
                    <p>Supervisor of no combs </p>
                <%else%>
                    <p>Supervisor of the following combs - <%= @worker_bee.is_supervisor?[1] %></p>
                <%end%>
                <p>Comb's sweet spot - <%=@worker_bee.target_pollen%> p/g</p> 
                <p><%= render "change_comp", worker_bee: @worker_bee, comb_array: (1..20).to_a%></p>
            </div>
            <div class= "comb-info">
            </div>
            <div class="change-bee-comb">
            </div>
            <div>
                        
            </div>
        </div>
        
        <div id="new-advisement">
                <%= render "advisement_popup", 
                    worker_bee: @worker_bee, 
                    advisement: @worker_bee.advisement_logic
                %>
        </div>
        <div class='graph-material'>
            <div class="simulate-week show-bee-buttons">
                <%= render "simulate_week", worker_bee: @worker_bee, advisement: @worker_bee.advisement_logic %>
            </div>
            <div id="container">
                <%= render "graph"%>
            </div>
        </div>
        <div class="both-table-information">
        <button id="graph-switch-button">Regular View</button>
        <%= render "table_switch_logic"%>
            <table class="show-table table-information " id="enhanced-view">
                <tr class="table-titles">
                    <th>Week - #</th>
                    <th>Bee-ID</th>
                    <th>BeeID-CombId</th>
                    <th>Date</th>
                    <th>PollenGlobs</th>
                    <th>Nectar</th>
                    <th>Advisement</th>
                    <th>% Accepted</th>
                </tr>
                <% @worker_bee.all_information_on_bee.each_with_index do |data, idx| %>
                    <tr class="table-information-columns">
                        <td class="data-columns">Week - <%=idx + 1%></td> 
                        <td class="data-columns"><%=data.bee_id%></td> 
                        <td class="data-columns"><%=data.bee_id%>-C<%=data.comb_id%></td> 
                        <td class="data-columns"><%=data.created_at.to_s.split(" ")[0]%></td> 
                        <td class="data-columns"><%=data.pollen_glob_collected%> p/g</td> 
                        <td class="data-columns"><%=data.nectar_consumption%> Units</td> 
                        <td class="data-columns"><%=data.advisement%> Units</td>
                        <td class="data-columns"><%= @worker_bee.advisement_accepted[idx].round(2)%>%</td>
                    </tr>
                <%end%>
                <tr>
                
                </tr>
            </table>
            <table class="table-information" id="regular-view">
                <tr class="table-titles">
                    <th>Week - #</th>
                    <th>Date</th>
                    <th>PollenGlobs</th>
                    <th>Nectar</th>
                    <th>Advisement</th>
                </tr>
                <% @worker_bee.all_information_on_bee.each_with_index do |data, idx| %>
                    <tr class="table-information-columns">
                        <td class="data-columns">Week - <%=idx + 1%></td> 
                        <td class="data-columns"><%=data.created_at.to_s.split(" ")[0]%></td> 
                        <td class="data-columns"><%=data.pollen_glob_collected%> p/g</td> 
                        <td class="data-columns"><%=data.nectar_consumption%> Units</td> 
                        <td class="data-columns"><%=data.advisement%> Units</td>
                    </tr>
                <%end%>
                <tr>
                
                </tr>
            </table>
        </div>
    </div>


</body>
</html>