 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="app/views/worker_bees/format_time.js"></script>
    
    <%= stylesheet_link_tag 'worker_bee.css' %>


    <title>Document</title>

</head>
<body>
<div>
    <div>
        <a href="http://localhost:3001/worker_bees">Go Back to all Bees</a>
    </div>
    <div>
        <p>Showing a bee named - <%= @worker_bee.bee_name%></p>
        <p>Current Comb - <%= @worker_bee.comb_id%></p>
        <div class="change-bee-comb">
            <form  method="POST" action="<%=worker_bee_url(@worker_bee)%>">
                <input type="hidden" name="_method" value="PATCH">

                <label for="worker-bee-comb">Change Comb </label>

                <select name="worker_bee[comb_id]" id="worker-bee-comb">
                <option disabled selected>-- select a comb --</option>
                   <% @worker_bee.allCombsPartOf.each do |comb|%>
                    <option
                        <%= @worker_bee.comb_id == comb ? "selected" : "" %>
                        value="<%= comb %>">
                        <%= comb %>
                    </option>
                    <% end %>
                </select>
                <input type="submit" value="submit">
            </form>
        </div>
        <p>Total Collection - <%= @worker_bee.individualBeeTotalCollection%></p>
    </div>
    <div>

    </div>
    <div id="worker-bee-pollen" style="display"><%= @worker_bee.pollenCollected%></div>
    <div id="worker-bee-nectar" style="display"><%= @worker_bee.nectarUsed%></div>
    <div id="worker-bee-length" style="display"> <%= @worker_bee.allGlobs.length%></div>
    <div id="container" style="width:100%; height:400px;">
        <script type='text/javascript'>
            document.addEventListener('DOMContentLoaded', function () {
                let pollenCollected = JSON.parse(document.getElementById('worker-bee-pollen').innerHTML)
                let nectarUsed = JSON.parse(document.getElementById('worker-bee-nectar').innerHTML)
                const weeks = function() {
                    let length = 20

                    let array = []
                    for (let x = 0; x< length; x++) {
                        array.push(`week-${x}`)
                    }
                    return array
                }
                let myChart = Highcharts.chart('container', {
                    chart: {
                        zoomType: 'xy'
                    },
                    title: {
                        text: 'Average Monthly Weather Data for Tokyo',
                        align: 'left'
                    },
                    subtitle: {
                        text: 'Source: WorldClimate.com',
                        align: 'left'
                    },
                    xAxis: [{
                        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                            'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                        crosshair: true
                    }],
                    yAxis: [{ // Primary yAxis
                        labels: {
                            format: '{value}°C',
                            style: {
                                color: Highcharts.getOptions().colors[2]
                            }
                        },
                        title: {
                            text: 'Temperature',
                            style: {
                                color: Highcharts.getOptions().colors[2]
                            }
                        },
                        opposite: true

                    }, { // Secondary yAxis
                        gridLineWidth: 0,
                        title: {
                            text: 'Rainfall',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        labels: {
                            format: '{value} mm',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        }

                    }, { // Tertiary yAxis
                        gridLineWidth: 0,
                        title: {
                            text: 'Sea-Level Pressure',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        labels: {
                            format: '{value} mb',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        opposite: true
                    }],
                    tooltip: {
                        shared: true
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        x: 80,
                        verticalAlign: 'top',
                        y: 55,
                        floating: true,
                        backgroundColor:
                            Highcharts.defaultOptions.legend.backgroundColor || // theme
                            'rgba(255,255,255,0.25)'
                    },
                    series: [{
                        name: 'Pollen',
                        type: 'column',
                        yAxis: 1,
                        data: pollenCollected,
                        tooltip: {
                            valueSuffix: ' p/g'
                        }

                    }, {
                        name: 'Nectar Consumption',
                        type: 'spline',
                        yAxis: 2,
                        data: nectarUsed,
                        marker: {
                            enabled: false
                        },
                        dashStyle: 'shortdot',
                        tooltip: {
                            valueSuffix: ' mb'
                        }
                    }],
                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    floating: false,
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom',
                                    x: 0,
                                    y: 0
                                },
                                yAxis: [{
                                    labels: {
                                        align: 'right',
                                        x: 0,
                                        y: -6
                                    },
                                    showLastLabel: false
                                }, {
                                    labels: {
                                        align: 'left',
                                        x: 0,
                                        y: -6
                                    },
                                    showLastLabel: false
                                }, {
                                    visible: false
                                }]
                            }
                        }]
                    }
                });
            });
    </script>
    </div>

    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>ID-CombId</th>
                <th>Date</th>
                <th>PollenGlobs</th>
                <th>Nectar</th>
                <th>Advisement</th>
                <th>% Accepted</th>
            </tr>
            <% @worker_bee.allGlobs.each do |data, idx| %>
                <tr>
                    <td class="data-columns"><%=data.bee_id%></td> 
                    <td class="data-columns"><%=data.bee_id%>-C<%=data.comb_id%></td> 
                    <td class="data-columns"><%=data.created_at%></td> 
                    <td class="data-columns"><%=data.pollen_glob_collected%> p/g</td> 
                    <td class="data-columns"><%=data.nectar_consumption%> Units</td> 
                    <td class="data-columns"><%=@worker_bee.nectar%> Units</td>
                </tr>
            <%end%>
            <tr>
               
            </tr>
        </table>
    
    </div>
    
    
    
    </div>
</>

</body>
</html>