<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <title>Document</title>
</head>
<body>
<div>
    <div>
        <a href="http://localhost:3000/worker_bees">Go Back to all Bees</a>
    </div>
    <div>
        <p>Showing a bee named - <%= @worker_bee.bee_name%></p>
        <p>Current Comb - <%= @worker_bee.comb_id%></p>
        <p>Total Collection - <%= @worker_bee.individualBeeTotalCollection%></p>
        <p>Supervisor - <%= @worker_bee.supervisor? %></p>
    </div>

    <div id="container" style="width:100%; height:400px;"></div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let myChart = Highcharts.chart('container', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Pollen Collected vs. Nectar Used'
                },
                xAxis: {
                    title: {
                        text: 'Weeks'
                    },
                    categories: ['Week-One', 'Week-Two', 'Week-Three']
                },
                yAxis: {
                    title: {
                        text: 'Combs'
                    }
                },
                series: [{
                    name: 'PollenGlobs',
                    data: [1, 0, 4]
                }, {
                    name: 'Nectar',
                    data: [5, 7, 3]
                }]
            });
            
        });
    </script>
    
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>ID-CombinId</th>
                <th>Date</th>
                <th>PollenGlobs</th>
                <th>Nectar</th>
                <th>Advisement</th>
                <th>% Accepted</th>
            </tr>
            <% @worker_bee.trial.each do |column, idx| %>
                <td><%= column%> </td>
            <%end%>
            <tr>
               
            </tr>
        </table>
    
    </div>
    
    <div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            current_bee = @worker_bee
            pollen_collected = rand(5..17.9)
            nectar_given = rand(2..3)
            total_nectar = 0
            nectar_given.times do
                will_skip = rand(100) <= 10
                if (!will_skip) 
                    total_nectar += rand(2..200).ceil
                end
            end
            
            new_pollen_collection = PollenCollection.new(
                bee_id: current_bee.id,
                comb_id: current_bee.comb_id,
                pollen_glob_collected: pollen_collected
            )
        });
    
    </script>
    
    </div>
    
    </div>
</>

</body>
</html>